mat-card{
    background-color: white;
    margin-bottom: 1rem;

    > mat-card-content{
        display: flex;
    
    }

    .title-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.history-div{
    width: 50%;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    padding: 1rem;

}

div.history-item{
    cursor: pointer;
    padding:10px;
    flex: 1;
    display: flex;
    justify-content: center;
}

div.history-item:hover{
    background-color: #f5f5f5;
}

.history-item-value mat-icon{
    cursor: pointer;
}

.history-item-value .missed mat-icon:hover{
    color: #ff6961;
}

.history-item-value .done mat-icon:hover{
    color: #a6eca8;
}