mat-card{
    background-color: white;
    margin-bottom: 1rem;
    
    > mat-card-content{
        display: flex;
        padding: 0 !important;
    }

    .title-div{
        display: flex;
        flex-direction: row;
        /* justify-content: flex-start; */
        align-items: center;
        flex: 1;
        margin: auto;
        cursor: pointer;

        & mat-icon{
            padding: 1rem;
            
        }

        .habit-title{
            font-size: 1.2rem;
        }
    }

    .title-div:hover .habit-title{
        transform: scale(1.1);
        transition: all .2s;
        /* text-decoration: underline; */
    }
}

.history-div{
    width: 20vw;
    min-width: 300px;
    display: flex;
    margin-left: auto;
    justify-content: space-between;

}

div.history-item{
    cursor: pointer;
    padding:10px;
    flex: 1;
    display: flex;
    justify-content: center;
}

div.history-item:hover{
    background-color: #f5f5f5;
}

.history-item-value mat-icon{
    cursor: pointer;
}

.history-item-value .missed mat-icon:hover{
    color: #ff6961;
}

.history-item-value .done mat-icon{
    color: #a6eca8;
}