.main-div{
    width: 40vw;
    margin: auto;
    min-width: 500px;

    > ul{
        padding:0;
    }
    
    .add-new-habit-btn{
        display: block;
        margin: auto;
    }

    .dates-div{
        width: 20vw;
        min-width: 300px;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        margin-left: auto;

        .date{
            width: 100%;
            text-align: center;
            > div{
                font-size: 1.15em;
                font-weight: bold;
            }
        }
    }
}