<div class="main-div">
    <div class="dates-div">
        <!-- ngFor 10 elements -->

        <div class="date" *ngFor="let date of dates">
            {{date.format('ddd')}}
            <br>
            <div>
                {{date.format('DD')}}
            </div>
        </div>
    </div>
    <ul>
        <app-habit-card *ngFor="let habit of habits" [habit]="habit"></app-habit-card>
    </ul>
    <button class="add-new-habit-btn" (click)="openAddNewHabitDialog()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add new Habit
    </button>
    
</div>

